## DATASET CREATION

Unfortunately, the dataset I will work with does not come as one already done dataset - as it is mostly usual in Data Science projects. <br /> 
To get the sheer experience of how a normal Data Science job looks like I also wanted to dive into this issue. By experience I can tell that this takes a shit ton of time - like almost 80% - of preparing the data. <br /> 
Since the data usually shares the same countries and lists mostly the same years of the recording I used this as a primary key where I connect the datapoints with each other. <br /> 
However, the  countries are listed in rows along with the year of the recording - I want to have a final dataset that looks like follows: <br /> 

|Country | Afghanistan | Albania | ... | Zimbabwe | 
| ----- | ----------  | ------ | ----- | ------- | 
|Alcohol consumption [l] | 0.2 | 2.4 | ... | 0.01 |
|Human Develpment Index (HDI) | 0.1 | 0.15 | ... | 0.1 | 
|... | ... | ... | ... | ... |
|Healthcare Expenditure [$] | 13.322 | 15.211 | ... | 1.039 |

Thus, I have to transpose each of the countries and record each of the years as seperate entry in the dataset. <br /> 

All the data is [publicly available](https://ourworldindata.org), and this source is trusted by many notorious companies such as Vox, The Ney York times and even the top universities of this world like MIT, Oxford, Stanford. <br /> 
Hence, I assume that this data is rather based on actual recording from the respective country. <br /> 
Even the United Nation published their records in this page and I bet that these folks do some amazing work, which we can trust. <br />

One more thing to mention with respect to the countries is that some of them were only listed together such as *Serbia and Montenegro*, *Belgium Luxembourg*, ... and thus sometimes there is no single value for these countries available due to their combined listing. I decided not to give the credits only one specific country due to the unproportionality in their population and possibly cultural changes. <br /> 

But now let's not waste too much with the explaination part and go straight into how I merged the datafiles to one huge on. <br />

In [6]:
import os 
import sys
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

Do the preprocessing necessities with renaming the columns and dropping the ones we are not interested in, i.e. continents aggregated stuff, some islands and countries I have never heard of, etc. <br /> 
After doing that, we save the new csv file again.  <br /> 
Moreover, I also delete all the entries of 1979 and before to not have too much history data, which speeds up the computation by a looooot at least 1 day of computation saved due to that! <br />

In [7]:
def rename_Countries_drop_Unnecessary(df, name): 
    print("Before {} shape: {}".format(name, df.shape))
    # Input is only the dataframe with the country names in the column 'Entity'
    right_names = []
    for data in df['Entity']:
        ## RENAMING COUNTRIES FOR DATA CONSISTENCY
        if 'Hong Kong' in data:
            data = 'Hong Kong'
        if 'Taiwan' in data: 
            data = 'Taiwan'
        if 'Macao' in data: 
            data = 'Macao'
        if 'Ethiopia' in data: 
            data = 'Ethiopia'
        if 'Sudan' in data: 
            data = 'Sudan'        
        if 'Czechia' in data: 
            data = 'Czech Republic'
        if 'Syria' in data: 
            data = 'Syria'
        if 'Russia' in data: 
            data = 'Russia'
        if "Ivoire" in data:
            data = "Cote d'Ivoire"

        # America 
        if 'US' in data: 
            data = 'United States'
        if 'USA' in data: 
            data = 'United States'
        if 'U.S.A.' in data: 
            data = 'United States'
        if 'U.S.A' in data: 
            data = 'United States'
        if 'United States of' in data: # gets United States of America
            data = 'United States'
        if data == 'America': 
            data = 'United States'
        right_names.append(data) 
        
    ## Replace the names with the consistent names of them
    right_names = pd.Series(right_names)
    df['Entity'] = right_names

    ## DELETE THE ENTRIES WHICH ARE NOT IN OUR MASTER COUNTRY LIST
    countries = list(set(df["Entity"]))
    for country in countries: 
        if country not in interested_countries:
            idx = list(df['Entity']).index(country)
            endCountry = idx + list(df['Entity']).count(country)
            ranges = np.arange( idx , endCountry )  
            df.drop(df.index[ranges], inplace = True)
            
    ## DELETE ENTRIES BEFORE 1980
    df = df[df["Year"] > 1979]
    
    ## SAVE THE FILE REDUCED AND CHANGED NAME AGAIN
    print("After: {}".format(df.shape))
    df.to_csv(os.path.join(datapath, name))

Define the countries we want to have in our Masterlist and thus in the dataset.

In [8]:
interested_countries = ['Sweden', 'Norway', 'Finland', 'Iceland', 'Germany', 'Netherlands', 'Belgium', 'Luxembourg',
                        'England', 'Scotland', 'Wales', 'Ireland', 'United Kingdom', 'Switzerland', 'Austria', 'France',
                        'Italy', 'Spain', 'Portugal', 'Morocco', 'Tunisia', 'Egypt', 'Liechtenstein', 'Cyprus', 'Vatican',
                        'Kosovo', 'Serbia', 'Georgia', 'Greenland', 'Antigua and Barbuda', 'Hungary', 'Monaco', 'Israel',
                        'Albania', 'Iraq', 'Iran', 'Syria', 'Turkey', 'Palestine', 'Montenegro', 'Latvia', 'Jordan',
                        'Croatia', 'New Zealand', 'Eritrea', 'Libya', 'Belarus', 'Slovenia', 'Greece', 'Lithuania',
                        'Liberia', 'Slovakia', 'Estonia', 'Poland', 'Czech Republic', 'Armenia', 'Denmark', 'Bulgaria',
                        
                        'Russia', 'United States', 'Canada', 'Qatar', 'Kuwait', 'Mexico', 'South Africa', 'Fiji', 'Oman',
                        'Japan', 'United Arab Emirates', 'South Korea', 'Macao', 'Hong Kong', 'China', 'Thailand', 'Belize',
                        'Taiwan', 'Vietnam', 'Malaysia', 'Indonesia', 'India', 'Philippines', 'Australia', 'Laos', 'Bhutan',
                        
                        'Kyrgyzstan', 'Kazakhstan', 'Uzbekistan', 'Turkmenistan', 'Tajikistan', 'Pakistan', 'Afghanistan',
                        'Argentina', 'Brazil', 'Chile', 'Venezuela', 'Peru', 'Colombia', 'Guyana', 'Mauritius', 'Barbados', 
                        'Cuba', 'Panama', 'Bahamas', 'Puerto Rico', 'Costa Rica', 'Solomon Islands',  'Marshall Islands',
                        'Ecuador', 'Benin', 'Seychelles', 'Bolivia', 'Madagascar',  'Mauritania', 'Bosnia and Herzegovina', 
                        'Jamaica', 'Lebanon', 'Senegal', 'Malta', 'French Polynesia', 'Bahrain', 'Burundi', 'Swaziland',
                        'Tanzania', 'Central African Republic', 'Malawi', 'Djibouti', 'Mozambique', 'Macedonia', 'Sierra Leone',
                        'Democratic Republic of Congo', 'Namibia', 'Algeria', 'Trinidad and Tobago', "Cote d'Ivoire",
                         
                        'Samoa', 'Bermuda', 'Aruba', 'Myanmar', 'Cape Verde', 'Uganda', 'Togo', 'Guinea', 
                        'San Marino', 'Ukraine', 'North Korea', 'Papua New Guinea', 'Haiti', 'Ghana', 'Sudan',
                        'Faeroe Islands', 'Cambodia', 'Somalia',  'Kiribati', 'Tonga', 'Mongolia', 'Rwanda', 'Bangladesh',
                        'Suriname', 'Nauru', 'Zambia', 'Azerbaijan',  'Sri Lanka', 'Nigeria', 'Kenya', 'Comoros', 'Andorra', 
                        'Tuvalu', 'Zimbabwe', 'Yemen', 'Cameroon', 'El Salvador', 'Angola', 'Curacao', 'Nicaragua',
                        'Saudi Arabia', 'Lesotho', 'Moldova', 'Gabon', 'Grenada', 'Mali', 'Romania', 'Guatemala', 'Dominican Republic', 
                        'Honduras', 'Congo',  'Burkina Faso',  'Saint Lucia', 'Cayman Islands', 'Botswana', 'Ethiopia', 
                        'Chad', 'Uruguay', 'Maldives', 'Gibraltar', 'Paraguay', 'Niger', 'Nepal']

In [9]:
# Define the path where we have our data stored and want to have it stored as well.
datapath = os.path.join(os.path.join(os.getcwd(), 'data'), 'Health')
datapath

'C:\\Users\\Lenny\\Documents\\Studium_Robotics (M.Sc.)\\03_Semester 3 - Oslo ERASMUS\\01_Applied Data Analysis and Machine Learning\\Project 3\\data\\Health'

Call each single file in our data directory and process each one according to the rules we set previously (Renaming and Deleting entries).

In [18]:
dataFileNames = [f for f in os.listdir(datapath) if os.path.isfile(os.path.join(datapath, f))]
type4Cols = []
type7Cols = []
manualLists = []

# the datasets mostly have the same size of 4 columns and same setup so let's get those first

for file in dataFileNames: 
    try:
        df = pd.read_csv(os.path.join(datapath, str(file) ) , encoding='latin-1')
    except: 
        print("problems with this guy: {}".format(file))
        manualLists.append(file)
    if df.shape[1] == 5: # one type of files (4 columns)
        type4Cols.append(file) 
        rename_Countries_drop_Unnecessary(df, str(file))
        
    elif df.shape[1] == 7: 
        type7Cols.append(file) 
    else: # manual shit  to do then 
        manualLists.append(file)

Before agricultural-area-per-capita.csv shape: (7753, 5)
After: (5150, 5)
Before alcohol-attributable-fraction-of-mortality.csv shape: (173, 5)
After: (173, 5)
Before annual-healthcare-expenditure-per-capita.csv shape: (3460, 5)
After: (3460, 5)
Before average-height-of-men-for-selected-countries.csv shape: (1203, 5)
After: (91, 5)
Before beer-consumption-per-person.csv shape: (8268, 5)
After: (5556, 5)
Before cancer-death-rates.csv shape: (5068, 5)
After: (5068, 5)
Before cardiovascular-disease-death-rates.csv shape: (5068, 5)
After: (5068, 5)
Before child-mortality.csv shape: (12383, 5)
After: (6434, 5)
Before co-emissions-per-capita.csv shape: (39453, 5)
After: (6878, 5)
Before consumption-per-smoker-per-day.csv shape: (5742, 5)
After: (5742, 5)
Before dementia-death-rates.csv shape: (5068, 5)
After: (5068, 5)
Before diarrheal-disease-death-rates.csv shape: (5068, 5)
After: (5068, 5)
Before fish-and-seafood-consumption-per-capita.csv shape: (7714, 5)
After: (5130, 5)
Before fruit-consumption-per-capita.csv shape: (7714, 5)
After: (5130, 5)
Before global-prevalence-of-zinc-deficiency.csv shape: (700, 5)
After: (700, 5)
Before happiness-cantril-ladder.csv shape: (1658, 5)
After: (1658, 5)
Before human-development-index.csv shape: (4651, 5)
After: (4651, 5)
Before intentional-homicides-per-100000-people.csv shape: (2634, 5)
After: (2634, 5)
Before international-tourism-number-of-arrivals.csv shape: (3762, 5)
After: (3762, 5)
Before life-expectancy.csv shape: (15216, 5)
After: (7680, 5)
Before maddison-data-gdp-per-capita-in-2011us.csv shape: (15874, 5)
After: (5862, 5)
Before maternal-mortality.csv shape: (5578, 5)
After: (4446, 5)
Before mean-years-of-schooling-1.csv shape: (7327, 5)
After: (4775, 5)
Before meat-production-tonnes.csv shape: (8895, 5)
After: (5955, 5)
Before meat-supply-per-person.csv shape: (7714, 5)
After: (5130, 5)
Before median-age.csv shape: (5549, 5)
After: (4475, 5)
Before merchandise-exports-gdp-cepii.csv shape: (12031, 5)
After: (5727, 5)
Before military-expenditure-as-share-of-gdp.csv shape: (6667, 5)
After: (4996, 5)
Before milk-production-tonnes.csv shape: (8572, 5)
After: (5741, 5)
Before minutes-spent-on-leisure-men.csv shape: (28, 5)
After: (28, 5)
Before minutes-spent-on-leisure-women.csv shape: (28, 5)
After: (28, 5)
Before number-of-nurses.csv shape: (582, 5)
After: (582, 5)
Before per-capita-egg-consumption-kilograms-per-year.csv shape: (7714, 5)
After: (5130, 5)
Before per-capita-milk-consumption.csv shape: (7714, 5)
After: (5130, 5)
Before pisa-test-score-mean-performance-on-the-mathematics-scale.csv shape: (326, 5)
After: (326, 5)
Before pisa-test-score-mean-performance-on-the-science-scale.csv shape: (329, 5)
After: (329, 5)
Before population-density.csv shape: (10623, 5)
After: (7127, 5)
Before prevalence-of-anemia-in-pregnant-women.csv shape: (4725, 5)
After: (4725, 5)
Before prevalence-of-vitamin-a-deficiency-in-pregnant-women.csv shape: (142, 5)
After: (142, 5)
Before respiratory-disease-death-rate.csv shape: (5068, 5)
After: (5068, 5)
Before share-of-adults-defined-as-obese.csv shape: (7308, 5)
After: (6438, 5)
Before share-of-adults-who-are-overweight.csv shape: (7308, 5)
After: (6438, 5)
Before share-of-adults-who-smoke.csv shape: (1242, 5)
After: (1242, 5)
Before share-of-deaths-obesity.csv shape: (4984, 5)
After: (4984, 5)
Before share-of-population-urban.csv shape: (10954, 5)
After: (7194, 5)
Before share-of-population-who-never-drink-alcohol.csv shape: (172, 5)
After: (172, 5)
Before share-of-the-population-living-in-extreme-poverty.csv shape: (1360, 5)
After: (1356, 5)
Before share-of-the-population-with-access-to-electricity.csv shape: (5083, 5)
After: (5083, 5)
Before share-of-the-population-with-access-to-improved-drinking-water.csv shape: (4570, 5)
After: (4570, 5)
Before share-who-have-not-drank-alcohol-in-last-year.csv shape: (172, 5)
After: (172, 5)
Before share-with-mental-and-substance-disorders.csv shape: (5068, 5)
After: (5068, 5)
Before spirits-consumption-per-person.csv shape: (8269, 5)
After: (5557, 5)
Before stroke-death-rates.csv shape: (5068, 5)
After: (5068, 5)
Before suicide-death-rates.csv shape: (5068, 5)
After: (5068, 5)
Before taxes-on-incomes-of-individuals-and-corporations-gdp.csv shape: (4472, 5)
After: (4472, 5)
Before total-alcohol-consumption-per-capita-litres-of-pure-alcohol.csv shape: (173, 5)
After: (173, 5)
Before total-government-expenditure-on-education-gdp.csv shape: (3346, 5)
After: (2914, 5)
Before total-healthcare-expenditure-as-share-of-national-gdp-by-country.csv shape: (3460, 5)
After: (3460, 5)
Before total-tax-revenues-gdp.csv shape: (4834, 5)
After: (4834, 5)
Before vegetable-consumption-per-capita.csv shape: (7714, 5)
After: (5130, 5)
Before wine-consumption-per-person.csv shape: (8269, 5)
After: (5557, 5)
problems with this guy: zz_Fish Consumption Per Capita.xlsx
Before zz_Fish Consumption Per Capita.xlsx shape: (8269, 5)
After: (5557, 5)
problems with this guy: zz_insufficient-activity-adults.xlsx
problems with this guy: zz_mean-systolic-blood-pressure.xlsx
problems with this guy: zz_mean-total-cholesterol.xlsx

Set up the final dataframe which we are going to use in the Analysis part. <br /> 
Notice that I set it up with 5mio rows, however this is just to ensure that all the data will be safely stored in it. I will delete the empty rows after the dataset is created. <br /> 
So, it's just a placeholder until now and serves the purpose of not running into index errors/ too small row size.

In [11]:
# create dataframe where we want to paste everything inside
# 5.000.000 rows to not run into some problems while adding rows - delete later the other ones
final_df = pd.DataFrame(data = np.zeros( (5000, len(interested_countries)) ), 
                        index = np.arange(5000),
                        columns = [ country for country in interested_countries])
# save indices as strings to get meaningful names
final_df.index = final_df.index.map(str)
final_df.shape

(5000, 197)

Just a Testbench for getting the values I want

In [ ]:
# testing to get values of the specific entries and Co
columns = list(df.columns)
b = df[df['Entity'] == 'France']
c = b[b['Year'] == 1999]#[columns[-1]]
d = b[b['Year'] == 1999][columns[-1]].sum()
print(d)
c
#df.groupby(["Entity", 'Year']).describe()

The Magic happens down here. <br /> 
We loop through every preprocessed list, <br /> 
In each list we loop through every country and further <br /> 
we also iterate over each year in that country. <br /> 
There I use the Year and the name of the file/list to create an index name. In this index name we paste the respective country and its value in it. <br /> 
We do this for all the preprocessed lists, which takes a shit ton of time. <br />

In [ ]:
final_df[2650:2800]

In [26]:
%%time
# paste the values into the final_df from each single list
nextListIndex = 810

try: 
    for lists in type4Cols:
        if type4Cols.index('number-of-nurses.csv') >= type4Cols.index(lists):
            continue
        
        ## Read the file and get the all countries along with their reported years
        print("{} list out of {}, Index: {}, Name: {}".format(type4Cols.index(lists), len(type4Cols), nextListIndex, lists))
        df = pd.read_csv(os.path.join(datapath, str(lists) ) , encoding='latin-1')
        
        # get the col names, unique countries and unique years
        columns = list(df.columns)
        countries = list(set(df["Entity"]))
        years = list(set(df['Year']))
        
        # get a list of all the index/row names
        indexNamesArr = final_df.index.values

        ## groupby countries and then years accordingly
        #df.groupby(["Entity", 'Year'])

        firstListRun = False # flag for renaming the indices

        # loop thru every country in the list
        for country in countries:
            
            ## check if country is in our masterlist
            if country not in interested_countries: 
                # skip this item
                print("\tCountry: {} not in list - but we skip it.".format(country))
                continue
            
            # take a dataframe for one country at a time
            country_df = df[df['Entity'] == country]

            # loop thru every year within that country - assuming the years are in the same order for every country
            for year in years:
                
                # rename the indices only if it is the very first run for the country
                if not firstListRun:
                    indexName = str(columns[-1]) + ' in ' + str(year)
                    indexNamesArr[nextListIndex] = indexName
                    nextListIndex += 1
                    if nextListIndex % 20 == 0: 
                        print("\t\t" + str(indexName))

                ## get the proper value and fill empty ones, if not available, fill it with 0.000
                # note: .sum() is only having one element anyway, just done to get the value as a float not an array
                value = country_df[country_df["Year"] == year][columns[-1]].sum() if not country_df[country_df["Year"] == year][columns[-1]].empty else 0.000
                # get the name of the row
                idxName = str(columns[-1]) + ' in ' + str(year)
                
                #print("Country: {} found in the dataset at spot: {}".format(country, interested_countries.index(country)))
                
                # assign the value in the merged df with the value 
                final_df.iat[list(final_df.index.values).index(idxName), interested_countries.index(country)] = value # .iat[row, col]

            ## get the proper index for the next list to begin with   
            firstListRun = True
            # print progress
            if countries.index(country) % 60 == 0:
                print("\tWorking on country: {} out of {}".format(countries.index(country), len(countries)))
            
except Exception as e:
    print("Next List Index in line: {} of {}, Matrix Size: {}, list: {}, country: {}".format(i, nextListIndex, final_df.shape[0], lists, country))
    print(e)
    sys.exit()

32 list out of 62, Index: 810, Name: per-capita-egg-consumption-kilograms-per-year.csv
		Egg consumption per capita [kg] in 1989
		Egg consumption per capita [kg] in 2009
	Working on country: 0 out of 161
	Working on country: 60 out of 161
	Working on country: 120 out of 161
33 list out of 62, Index: 844, Name: per-capita-milk-consumption.csv
		Milk consumption per capita - Excluding Butter [kg] in 1995
	Working on country: 0 out of 161
	Working on country: 60 out of 161
	Working on country: 120 out of 161
34 list out of 62, Index: 878, Name: pisa-test-score-mean-performance-on-the-mathematics-scale.csv
		PISA [Mean performance on the mathematics scale] in 2003
	Working on country: 0 out of 74
	Working on country: 60 out of 74
35 list out of 62, Index: 884, Name: pisa-test-score-mean-performance-on-the-science-scale.csv
	Working on country: 0 out of 74
	Working on country: 60 out of 74
36 list out of 62, Index: 890, Name: population-density.csv
		Population density [people / km^2] in 1989
		Population density [people / km^2] in 2009
	Working on country: 0 out of 190
	Working on country: 60 out of 190
	Working on country: 120 out of 190
	Working on country: 180 out of 190
37 list out of 62, Index: 928, Name: prevalence-of-anemia-in-pregnant-women.csv
		Anemia in pregnant women [%] in 2001
	Working on country: 0 out of 174
	Working on country: 60 out of 174
	Working on country: 120 out of 174
38 list out of 62, Index: 955, Name: prevalence-of-vitamin-a-deficiency-in-pregnant-women.csv
	Working on country: 0 out of 142
	Working on country: 60 out of 142
	Working on country: 120 out of 142
39 list out of 62, Index: 956, Name: respiratory-disease-death-rate.csv
		Chronic respiratory diseases [deaths per 100,000] in 1993
		Chronic respiratory diseases [deaths per 100,000] in 2013
	Working on country: 0 out of 180
	Working on country: 60 out of 180
	Working on country: 120 out of 180
40 list out of 62, Index: 984, Name: share-of-adults-defined-as-obese.csv
		Obese adults [%] in 1995
		Obese adults [%] in 2015
	Working on country: 0 out of 174
	Working on country: 60 out of 174
	Working on country: 120 out of 174
41 list out of 62, Index: 1021, Name: share-of-adults-who-are-overweight.csv
		Overweight adults [%] in 1998
	Working on country: 0 out of 174
	Working on country: 60 out of 174
	Working on country: 120 out of 174
42 list out of 62, Index: 1058, Name: share-of-adults-who-smoke.csv
		Smokers [%] in 2000
	Working on country: 0 out of 138
	Working on country: 60 out of 138
	Working on country: 120 out of 138
43 list out of 62, Index: 1067, Name: share-of-deaths-obesity.csv
		Share of deaths from obesity [%] in 2002
	Working on country: 0 out of 177
	Working on country: 60 out of 177
	Working on country: 120 out of 177
44 list out of 62, Index: 1095, Name: share-of-population-urban.csv
		Urban population [% of total] in 1984
		Urban population [% of total] in 2004
	Working on country: 0 out of 189
	Working on country: 60 out of 189
	Working on country: 120 out of 189
	Working on country: 180 out of 189
45 list out of 62, Index: 1133, Name: share-of-population-who-never-drink-alcohol.csv
	Working on country: 0 out of 172
	Working on country: 60 out of 172
	Working on country: 120 out of 172
46 list out of 62, Index: 1134, Name: share-of-the-population-living-in-extreme-poverty.csv
		Share of the population living in extreme poverty [%] in 1985
		Share of the population living in extreme poverty [%] in 2005
	Working on country: 0 out of 152
	Working on country: 60 out of 152
	Working on country: 120 out of 152
47 list out of 62, Index: 1172, Name: share-of-the-population-with-access-to-electricity.csv
		Access to electricity [%] in 1997
	Working on country: 0 out of 190
	Working on country: 60 out of 190
	Working on country: 120 out of 190
	Working on country: 180 out of 190
48 list out of 62, Index: 1199, Name: share-of-the-population-with-access-to-improved-drinking-water.csv
		Improved water source population Access [%] in 1990
		Improved water source population Access [%] in 2010
	Working on country: 0 out of 181
	Working on country: 60 out of 181
	Working on country: 120 out of 181
	Working on country: 180 out of 181
49 list out of 62, Index: 1225, Name: share-who-have-not-drank-alcohol-in-last-year.csv
	Working on country: 0 out of 172
	Working on country: 60 out of 172
	Working on country: 120 out of 172
50 list out of 62, Index: 1226, Name: share-with-mental-and-substance-disorders.csv
		Mental and substance use disorders [%] in 2003
	Working on country: 0 out of 180
	Working on country: 60 out of 180
	Working on country: 120 out of 180
51 list out of 62, Index: 1254, Name: spirits-consumption-per-person.csv
		Alcohol Spirits per capita [l] in 1985
		Alcohol Spirits per capita [l] in 2005
	Working on country: 0 out of 173
	Working on country: 60 out of 173
	Working on country: 120 out of 173
52 list out of 62, Index: 1290, Name: stroke-death-rates.csv
		Cerebrovascular disease (deaths per 100,000 individuals) in 1999
	Working on country: 0 out of 180
	Working on country: 60 out of 180
	Working on country: 120 out of 180
53 list out of 62, Index: 1318, Name: suicide-death-rates.csv
		Suicide [deaths per 100,000] in 1991
		Suicide [deaths per 100,000] in 2011
	Working on country: 0 out of 180
	Working on country: 60 out of 180
	Working on country: 120 out of 180
54 list out of 62, Index: 1346, Name: taxes-on-incomes-of-individuals-and-corporations-gdp.csv
		Taxes Income [% GDP] in 1993
		Taxes Income [% GDP] in 2013
	Working on country: 0 out of 170
	Working on country: 60 out of 170
	Working on country: 120 out of 170
55 list out of 62, Index: 1384, Name: total-alcohol-consumption-per-capita-litres-of-pure-alcohol.csv
	Working on country: 0 out of 173
	Working on country: 60 out of 173
	Working on country: 120 out of 173
56 list out of 62, Index: 1385, Name: total-government-expenditure-on-education-gdp.csv
		Governmental expenditure on Education [% of GDP] in 1994
		Governmental expenditure on Education [% of GDP] in 2014
	Working on country: 0 out of 174
	Working on country: 60 out of 174
	Working on country: 120 out of 174
57 list out of 62, Index: 1423, Name: total-healthcare-expenditure-as-share-of-national-gdp-by-country.csv
		Healthcare of GDP [%] in 2011
	Working on country: 0 out of 174
	Working on country: 60 out of 174
	Working on country: 120 out of 174
58 list out of 62, Index: 1443, Name: total-tax-revenues-gdp.csv
		Total Taxes Revenue [% GDP] in 1996
		Total Taxes Revenue [% GDP] in 2016
	Working on country: 0 out of 174
	Working on country: 60 out of 174
	Working on country: 120 out of 174
59 list out of 62, Index: 1481, Name: vegetable-consumption-per-capita.csv
		Vegetables per capita [kg] in 1998
	Working on country: 0 out of 161
	Working on country: 60 out of 161
	Working on country: 120 out of 161
60 list out of 62, Index: 1515, Name: wine-consumption-per-person.csv
		Wine Consumption [l] in 1984
		Wine Consumption [l] in 2004
	Working on country: 0 out of 173
	Working on country: 60 out of 173
	Working on country: 120 out of 173
61 list out of 62, Index: 1551, Name: zz_Fish Consumption Per Capita.xlsx
		Wine Consumption [l] in 1988
		Wine Consumption [l] in 2008
	Working on country: 0 out of 173
	Working on country: 60 out of 173
	Working on country: 120 out of 173
Wall time: 2min 49s

In [35]:
lastFilledItem = list(final_df.index).index(indexName) + 1
final_df.drop(final_df.index[ np.arange(lastFilledItem, final_df.shape[0]) ], inplace=True)
final_df.shape

(1515, 197)

Finally save our sweet dataframe! **HURRRRRAAAAAAAAYY**

In [36]:
final_df.to_csv(os.path.join(datapath, "Merged UN Data 1980+.csv"))

BELOW HERE IS JUST THE PLAYGROUND TO TRY SOME STUFF OUT -> The dataset should be done in the top part

In [5]:
# open my baby again 
df = pd.read_csv(os.path.join(datapath, "Merged UN Data.csv"))

C:\Users\Lenny\AppData\Local\Programs\Python\Python36\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df[3550:3600]

,Unnamed: 0,Sweden,Norway,Finland,Iceland,Germany,Netherlands,Belgium,Luxembourg,England,...,Cayman Islands,Botswana,Ethiopia,Chad,Uruguay,Maldives,Gibraltar,Paraguay,Niger,Nepal
3550,Wine Consumption [l] in 2009,3.3,2.28,1.68,3.47,3.01,3.28,3.66,4.86,0.0,...,0.0,0.73,0.01,0.01,3.85,0.33,0.0,1.31,0.01,0.0
3551,Wine Consumption [l] in 2010,3.4,2.29,1.70,2.26,3.12,3.39,3.71,4.86,0.0,...,0.0,0.75,0.00,0.02,3.72,0.46,0.0,1.32,0.01,0.0
3552,Wine Consumption [l] in 2011,3.6,2.39,1.74,2.32,3.20,3.14,3.71,5.05,0.0,...,0.0,0.59,0.00,0.02,3.43,0.54,0.0,1.09,0.01,0.0
3553,Wine Consumption [l] in 2012,3.6,2.29,1.70,2.30,3.19,3.16,3.73,4.95,0.0,...,0.0,0.00,0.00,0.05,3.18,0.00,0.0,0.73,0.00,0.0
3554,Wine Consumption [l] in 2013,3.6,2.30,1.71,2.04,3.08,2.97,4.26,4.79,0.0,...,0.0,0.00,0.00,0.05,3.25,0.00,0.0,0.53,0.00,0.0
3555,Wine Consumption [l] in 2014,3.6,2.25,1.67,2.03,3.10,0.00,4.53,4.75,0.0,...,0.0,0.00,0.00,0.00,3.13,0.00,0.0,0.00,0.00,0.0
3556,Wine Consumption [l] in 2015,0.0,2.22,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3557,3557,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3558,3558,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3559,3559,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3560,3560,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3561,3561,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3562,3562,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3563,3563,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3564,3564,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3565,3565,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3566,3566,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3567,3567,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3568,3568,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3569,3569,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3570,3570,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3571,3571,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3572,3572,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3573,3573,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3574,3574,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3575,3575,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3576,3576,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3577,3577,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3578,3578,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3579,3579,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3580,3580,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3581,3581,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3582,3582,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3583,3583,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3584,3584,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3585,3585,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3586,3586,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3587,3587,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3588,3588,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3589,3589,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3590,3590,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3591,3591,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3592,3592,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3593,3593,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3594,3594,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3595,3595,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3596,3596,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3597,3597,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3598,3598,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0
3599,3599,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0

(3557, 197)

In [19]:
gdp = 'maddison-data-gdp-per-capita-in-2011us.csv'
df = pd.read_csv(os.path.join(datapath, gdp ) , encoding='latin-1')
print(df.shape)
result_df = df[df["Year"] > 1979]
result_df

(5862, 6)

      Unnamed: 0  Unnamed: 0.1       Entity Code  Year  GDP per capita [$]
0             30            30  Afghanistan  AFG  1980                2108
1             31            31  Afghanistan  AFG  1981                2369
2             32            32  Afghanistan  AFG  1982                2628
3             33            33  Afghanistan  AFG  1983                2789
4             34            34  Afghanistan  AFG  1984                2766
5             35            35  Afghanistan  AFG  1985                2700
6             36            36  Afghanistan  AFG  1986                2779
7             37            37  Afghanistan  AFG  1987                2507
8             38            38  Afghanistan  AFG  1988                2280
9             39            39  Afghanistan  AFG  1989                2067
10            40            40  Afghanistan  AFG  1990                1992
11            41            41  Afghanistan  AFG  1991                1761
12            42            42  Afghanistan  AFG  1992                1629
13            43            43  Afghanistan  AFG  1993                1080
14            44            44  Afghanistan  AFG  1994                 772
15            45            45  Afghanistan  AFG  1995                1101
16            46            46  Afghanistan  AFG  1996                1008
17            47            47  Afghanistan  AFG  1997                 926
18            48            48  Afghanistan  AFG  1998                 856
19            49            49  Afghanistan  AFG  1999                 787
20            50            50  Afghanistan  AFG  2000                 735
21            51            51  Afghanistan  AFG  2001                 692
22            52            52  Afghanistan  AFG  2002                1088
23            53            53  Afghanistan  AFG  2003                1112
24            54            54  Afghanistan  AFG  2004                1107
25            55            55  Afghanistan  AFG  2005                1187
26            56            56  Afghanistan  AFG  2006                1257
27            57            57  Afghanistan  AFG  2007                1447
28            58            58  Afghanistan  AFG  2008                1464
29            59            59  Afghanistan  AFG  2009                1669
...          ...           ...          ...  ...   ...                 ...
5832       15844         18172     Zimbabwe  ZWE  1987                3243
5833       15845         18173     Zimbabwe  ZWE  1988                3340
5834       15846         18174     Zimbabwe  ZWE  1989                3369
5835       15847         18175     Zimbabwe  ZWE  1990                3265
5836       15848         18176     Zimbabwe  ZWE  1991                3280
5837       15849         18177     Zimbabwe  ZWE  1992                2845
5838       15850         18178     Zimbabwe  ZWE  1993                2749
5839       15851         18179     Zimbabwe  ZWE  1994                2913
5840       15852         18180     Zimbabwe  ZWE  1995                2841
5841       15853         18181     Zimbabwe  ZWE  1996                3032
5842       15854         18182     Zimbabwe  ZWE  1997                3013
5843       15855         18183     Zimbabwe  ZWE  1998                3006
5844       15856         18184     Zimbabwe  ZWE  1999                2889
5845       15857         18185     Zimbabwe  ZWE  2000                2696
5846       15858         18186     Zimbabwe  ZWE  2001                2624
5847       15859         18187     Zimbabwe  ZWE  2002                2376
5848       15860         18188     Zimbabwe  ZWE  2003                1958
5849       15861         18189     Zimbabwe  ZWE  2004                1813
5850       15862         18190     Zimbabwe  ZWE  2005                1660
5851       15863         18191     Zimbabwe  ZWE  2006                1587
5852       15864         18192     Zimbabwe  ZWE  2007                1522
5853       15865         18193     Zimbabwe  ZWE  2008                1260
5854       15866         18194     Zimbabwe  ZWE  2009                1329
5855       15867         18195     Zimbabwe  ZWE  2010                1425
5856       15868         18196     Zimbabwe  ZWE  2011                1515
5857       15869         18197     Zimbabwe  ZWE  2012                1623
5858       15870         18198     Zimbabwe  ZWE  2013                1801
5859       15871         18199     Zimbabwe  ZWE  2014                1797
5860       15872         18200     Zimbabwe  ZWE  2015                1759
5861       15873         18201     Zimbabwe  ZWE  2016                1729

[5862 rows x 6 columns]

In [12]:
## VALIDATE BEER AND WINE CONSUMPTION
vege = 'vegetable-consumption-per-capita.csv'
wine = 'wine-consumption-per-person.csv'
beer = 'beer-consumption-per-person.csv'


test_df = pd.DataFrame(data = np.zeros( (500, len(interested_countries)) ), 
                        index = np.arange(500),
                        columns = [ country for country in interested_countries])
# save indices as strings to get meaningful names
test_df.index = test_df.index.map(str)


# paste the values into the final_df from each single list
listies = [vege, wine, beer]
nextListIndex = 0

for lists in listies:

    ## Read the file and get the all countries along with their reported years
    df = pd.read_csv(os.path.join(datapath, str(lists) ) , encoding='latin-1')

    # get the col names, unique countries and unique years
    columns = list(df.columns)
    countries = list(set(df["Entity"]))
    years = list(set(df['Year']))

    # get a list of all the index/row names
    indexNamesArr = test_df.index.values

    ## groupby countries and then years accordingly
    #df.groupby(["Entity", 'Year'])

    firstListRun = False # flag for renaming the indices

    # loop thru every country in the list
    for country in countries:

        ## check if country is in our masterlist
        if country not in interested_countries: 
            # skip this item
            print("\tCountry: {} not in list - but we skip it.".format(country))
            continue

        # take a dataframe for one country at a time
        country_df = df[df['Entity'] == country]

        # loop thru every year within that country - assuming the years are in the same order for every country
        for year in years:

            # rename the indices only if it is the very first run for the country
            if not firstListRun:
                indexName = str(columns[-1]) + ' in ' + str(year)
                indexNamesArr[nextListIndex] = indexName
                nextListIndex += 1
                if nextListIndex % 20 == 0: 
                    print("\t\t" + str(indexName))

            ## get the proper value and fill empty ones, if not available, fill it with 0.000
            # note: .sum() is only having one element anyway, just done to get the value as a float not an array
            value = country_df[country_df["Year"] == year][columns[-1]].sum() if not country_df[country_df["Year"] == year][columns[-1]].empty else 0.000
            # get the name of the row
            idxName = str(columns[-1]) + ' in ' + str(year)

            #print("Country: {} found in the dataset at spot: {}".format(country, interested_countries.index(country)))

            # assign the value in the merged df with the value 
            test_df.iat[list(test_df.index.values).index(idxName), interested_countries.index(country)] = value # .iat[row, col]

        ## get the proper index for the next list to begin with   
        firstListRun = True
        # print progress
        if countries.index(country) % 60 == 0:
            print("\tWorking on country: {} out of {}".format(countries.index(country), len(countries)))

		Vegetables per capita [kg] in 1980
		Vegetables per capita [kg] in 2000
	Working on country: 0 out of 161
	Working on country: 60 out of 161
	Working on country: 120 out of 161
		Wine Consumption [l] in 1966
		Wine Consumption [l] in 1986
		Wine Consumption [l] in 2006
	Working on country: 0 out of 173
	Working on country: 60 out of 173
	Working on country: 120 out of 173
		Beer Consumption per capita [l] in 1970
		Beer Consumption per capita [l] in 1990
		Beer Consumption per capita [l] in 2010
	Working on country: 0 out of 173
	Working on country: 60 out of 173
	Working on country: 120 out of 173

In [15]:
test_df[100:150]

,Sweden,Norway,Finland,Iceland,Germany,Netherlands,Belgium,Luxembourg,England,Scotland,...,Cayman Islands,Botswana,Ethiopia,Chad,Uruguay,Maldives,Gibraltar,Paraguay,Niger,Nepal
Wine Consumption [l] in 2007,3.10,2.11,1.64,2.04,3.14,3.18,4.27,5.07,0.0,0.0,...,0.0,1.86,0.01,0.00,4.15,0.37,0.0,1.35,0.01,0.00
Wine Consumption [l] in 2008,3.10,2.23,1.67,2.42,3.13,3.29,3.83,4.92,0.0,0.0,...,0.0,1.16,0.00,0.00,3.97,0.37,0.0,1.74,0.01,0.00
Wine Consumption [l] in 2009,3.30,2.28,1.68,3.47,3.01,3.28,3.66,4.86,0.0,0.0,...,0.0,0.73,0.01,0.01,3.85,0.33,0.0,1.31,0.01,0.00
Wine Consumption [l] in 2010,3.40,2.29,1.70,2.26,3.12,3.39,3.71,4.86,0.0,0.0,...,0.0,0.75,0.00,0.02,3.72,0.46,0.0,1.32,0.01,0.00
Wine Consumption [l] in 2011,3.60,2.39,1.74,2.32,3.20,3.14,3.71,5.05,0.0,0.0,...,0.0,0.59,0.00,0.02,3.43,0.54,0.0,1.09,0.01,0.00
Wine Consumption [l] in 2012,3.60,2.29,1.70,2.30,3.19,3.16,3.73,4.95,0.0,0.0,...,0.0,0.00,0.00,0.05,3.18,0.00,0.0,0.73,0.00,0.00
Wine Consumption [l] in 2013,3.60,2.30,1.71,2.04,3.08,2.97,4.26,4.79,0.0,0.0,...,0.0,0.00,0.00,0.05,3.25,0.00,0.0,0.53,0.00,0.00
Wine Consumption [l] in 2014,3.60,2.25,1.67,2.03,3.10,0.00,4.53,4.75,0.0,0.0,...,0.0,0.00,0.00,0.00,3.13,0.00,0.0,0.00,0.00,0.00
Wine Consumption [l] in 2015,0.00,2.22,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
Beer Consumption per capita [l] in 1960,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
Beer Consumption per capita [l] in 1961,2.35,1.75,0.57,0.62,6.47,1.88,0.00,4.50,0.0,0.0,...,0.0,3.05,0.86,0.18,2.53,0.00,0.0,0.28,0.05,0.00
Beer Consumption per capita [l] in 1962,2.30,1.67,0.61,0.69,6.86,1.96,0.00,4.34,0.0,0.0,...,0.0,2.91,0.86,0.20,1.53,0.00,0.0,0.26,0.03,0.00
Beer Consumption per capita [l] in 1963,2.48,1.78,0.64,0.70,7.26,2.20,7.64,4.86,0.0,0.0,...,0.0,3.17,0.85,0.20,1.80,0.00,0.0,0.35,0.05,0.00
Beer Consumption per capita [l] in 1964,2.49,1.77,0.69,0.74,7.85,2.45,7.93,5.31,0.0,0.0,...,0.0,3.03,0.84,0.24,1.72,0.00,0.0,0.30,0.05,0.00
Beer Consumption per capita [l] in 1965,2.56,1.85,0.78,0.76,7.88,2.59,7.67,5.25,0.0,0.0,...,0.0,3.23,0.89,0.22,1.82,0.00,0.0,0.31,0.03,0.00
Beer Consumption per capita [l] in 1966,2.74,1.91,0.88,0.78,8.14,2.71,7.65,5.43,0.0,0.0,...,0.0,3.48,0.88,0.23,1.42,0.00,0.0,0.38,0.03,0.00
Beer Consumption per capita [l] in 1967,2.87,1.99,1.01,0.94,8.21,3.08,7.94,5.47,0.0,0.0,...,0.0,3.40,0.84,0.25,1.30,0.00,0.0,0.38,0.05,0.00
Beer Consumption per capita [l] in 1968,3.26,2.15,1.28,0.82,8.34,3.14,7.99,5.50,0.0,0.0,...,0.0,3.18,0.81,0.27,1.73,0.00,0.0,0.40,0.04,0.00
Beer Consumption per capita [l] in 1969,3.68,2.30,2.86,0.79,8.99,3.57,8.29,5.85,0.0,0.0,...,0.0,3.32,0.82,0.29,1.69,0.00,0.0,0.43,0.04,0.00
Beer Consumption per capita [l] in 1970,3.63,2.44,2.69,0.98,9.14,3.95,8.66,5.95,0.0,0.0,...,0.0,3.34,0.83,0.30,1.79,0.00,0.0,0.61,0.05,0.00
Beer Consumption per capita [l] in 1971,3.63,2.59,2.78,1.03,9.38,4.27,8.49,6.08,0.0,0.0,...,0.0,3.36,0.84,0.32,2.17,0.00,0.0,0.55,0.06,0.00
Beer Consumption per capita [l] in 1972,3.63,2.72,3.04,1.07,9.43,4.48,8.70,6.05,0.0,0.0,...,0.0,3.87,0.78,0.34,2.23,0.00,0.0,0.59,0.07,0.00
Beer Consumption per capita [l] in 1973,3.57,2.77,3.09,1.15,9.49,4.98,9.25,6.22,0.0,0.0,...,0.0,3.98,0.70,0.35,2.20,0.00,0.0,0.66,0.08,0.00
Beer Consumption per capita [l] in 1974,3.68,2.89,3.24,1.07,9.45,5.10,8.58,6.18,0.0,0.0,...,0.0,2.55,0.70,0.40,2.46,0.00,0.0,0.78,0.08,0.00
Beer Consumption per capita [l] in 1975,3.80,2.98,3.11,0.85,9.42,5.29,8.38,6.18,0.0,0.0,...,0.0,2.85,0.58,0.42,2.48,0.00,0.0,0.90,0.08,0.00
Beer Consumption per capita [l] in 1976,3.72,2.92,3.12,0.93,9.51,5.57,8.80,6.35,0.0,0.0,...,0.0,2.54,0.48,0.42,1.53,0.00,0.0,0.96,0.07,0.00
Beer Consumption per capita [l] in 1977,3.37,2.96,3.18,1.01,9.29,5.53,8.28,6.15,0.0,0.0,...,0.0,2.25,0.79,0.41,1.81,0.00,0.0,1.35,0.10,0.00
Beer Consumption per capita [l] in 1978,3.06,2.98,3.15,1.00,9.02,5.55,7.92,5.98,0.0,0.0,...,0.0,1.28,0.61,0.42,1.66,0.00,0.0,1.47,0.13,0.00
Beer Consumption per capita [l] in 1979,3.01,2.96,3.21,1.01,8.93,5.52,7.90,5.93,0.0,0.0,...,0.0,1.36,0.84,0.38,1.39,0.00,0.0,1.70,0.14,0.01
Beer Consumption per capita [l] in 1980,2.94,2.77,3.26,0.99,8.95,5.56,8.20,5.90,0.0,0.0,...,0.0,1.51,0.78,0.29,1.81,0.00,0.0,1.78,0.16,0.01
Beer Consumption per capita [l] in 1981,2.78,2.57,3.25,1.06,8.98,5.72,7.73,5.90,0.0,0.0,...,0.0,1.54,0.76,0.32,1.66,0.00,0.0,1.68,0.18,0.01
Beer Consumption per capita [l] in 1982,2.87,2.69,3.17,1.02,9.00,5.20,8.23,5.90,0.0,0.0,...,0.0,1.48,0.65,0.31,1.43,0.00,0.0,1.69,0.16,0.01
Beer Consumption per capita [l] in 1983,2.75,2.57,3.23,1.11,8.97,5.52,7.92,5.87,0.0,0.0,...,0.0,1.58,0.83,0.28,1.03,0.00,0.0,1.68,0.09,0.01
Beer Consumption per capita [l] in 1984,2.72,2.65,3.35,1.17,8.67,5.21,7.79,5.64,0.0,0.0,...,0.0,1.77,0.58,0.29,0.99,0.00,0.0,1.74,0.11,0.02
Beer Consumption per capita [l] in 1985,2.85,2.63,3.48,1.16,8.66,5.24,7.45,5.60,0.0,0.0,...,0.0,2.29,0.54,0.34,1.21,0.00,0.0,1.73,0.10,0.01
Beer Consumption per capita [l] in 1986,3.04,2.83,3.70,1.07,8.68,5.31,7.36,5.62,0.0,0.0,...,0.0,2.25,0.53,0.29,1.38,0.00,0.0,1.94,0.14,0.01
Beer Consumption per capita [l] in 1987,3.13,2.82,3.88,1.08,8.52,5.18,7.42,5.48,0.0,0.0,...,0.0,2.22,0.54,0.27,1.41,0.00,0.0,1.92,0.12,0.02
Beer Consumption per capita [l] in 1988,3.39,2.84,4.23,1.07,8.45,5.11,7.25,5.46,0.0,0.0,...,0.0,2.06,0.56,0.26,1.42,0.00,0.0,1.83,0.10,0.02
Beer Consumption per capita [l] in 1989,3.55,2.78,4.55,1.83,8.47,5.23,7.01,5.51,0.0,0.0,...,0.0,2.35,0.67,0.28,1.45,0.00,0.0,2.03,0.08,0.03
Beer Consumption per capita [l] in 1990,3.66,2.81,4.78,1.69,8.51,5.20,7.37,5.56,0.0,0.0,...,0.0,2.02,0.67,0.19,1.29,0.00,0.0,2.21,0.08,0.03
Beer Consumption per capita [l] in 1991,3.74,2.85,4.82,1.56,8.09,5.11,6.80,5.31,0.0,0.0,...,0.0,2.03,0.49,0.23,1.53,0.00,0.0,2.38,0.07,0.05
Beer Consumption per capita [l] in 1992,3.83,2.76,4.89,1.43,8.22,5.07,6.85,5.39,0.0,0.0,...,0.0,2.99,0.46,0.20,1.75,0.00,0.0,2.31,0.05,0.05
Beer Consumption per capita [l] in 1993,3.93,2.67,4.71,1.47,7.48,4.92,6.68,4.96,0.0,0.0,...,0.0,3.12,0.48,0.15,1.74,0.00,0.0,3.47,0.06,0.06
Beer Consumption per capita [l] in 1994,4.15,2.75,4.56,1.81,7.61,4.98,6.47,5.03,0.0,0.0,...,0.0,2.19,0.43,0.16,1.76,0.00,0.0,4.04,0.01,0.06
Beer Consumption per capita [l] in 1995,3.98,2.75,4.48,2.02,7.52,5.04,6.34,4.98,0.0,0.0,...,0.0,2.10,0.49,0.10,1.78,0.00,0.0,4.35,0.05,0.07
Beer Consumption per capita [l] in 1996,3.65,2.88,4.43,2.19,7.29,5.05,6.20,4.87,0.0,0.0,...,0.0,2.10,0.50,0.25,1.63,0.00,0.0,4.05,0.04,0.07
Beer Consumption per capita [l] in 1997,3.80,2.95,4.51,2.39,7.24,5.16,6.11,4.77,0.0,0.0,...,0.0,2.03,0.52,0.17,1.67,0.00,0.0,3.81,0.03,0.08
Beer Consumption per capita [l] in 1998,3.53,3.17,4.38,2.62,7.02,5.05,5.96,4.70,0.0,0.0,...,0.0,2.12,0.50,0.13,1.66,0.00,0.0,4.13,0.05,0.08
Beer Consumption per capita [l] in 1999,3.65,2.84,4.34,2.87,7.57,5.08,6.06,4.98,0.0,0.0,...,0.0,2.01,0.51,0.11,1.46,0.00,0.0,4.11,0.04,0.07
Beer Consumption per capita [l] in 2000,2.70,2.93,4.27,3.03,7.16,4.99,6.15,4.62,0.0,0.0,...,0.0,2.30,0.19,0.17,1.37,0.50,0.0,3.79,0.06,0.07

Comparing the above dataframe with the real lists from the UN, we see that they do match, although the wine consumption seems a little suspisous to me to be honest. <br /> 
By [checking this guy here](https://ourworldindata.org/grapher/wine-consumption-per-person) again, they mention that they only record the total alcohol amount of wine. Wine usually has 12% of alcohol in a bottle, thus 1l of wine contains 0.12l of pure alcohol in it. Thus 3l of pure alcohol from wine is the equvalent of approximately 25 bottles of wine. <br /> 

Hence, the data is accordingly sorted in the right columns and rows and we can go ahead and further analyse this fresh gut here then!

In [ ]:
df.groupby('Entity')['Wine Consumption'].sum().sort_values().tail(5)

In [ ]:
df[df['Entity'] == 'Germany']['Wine Consumption'].plot.hist(bins=20)