## DATASET CREATION

Unfortunately, the dataset I will work with does not come as one already done dataset - as it is mostly usual in Data Science projects. <br /> 
To get the sheer experience of how a normal Data Science job looks like I also wanted to dive into this issue. By experience I can tell that this takes a shit ton of time - like almost 80% - of preparing the data. <br /> 
Since the data usually shares the same countries and lists mostly the same years of the recording I used this as a primary key where I connect the datapoints with each other. <br /> 
However, the  countries are listed in rows along with the year of the recording - I want to have a final dataset that looks like follows: <br /> 

|Country | Afghanistan | Albania | ... | Zimbabwe | 
| ----- | ----------  | ------ | ----- | ------- | 
|Alcohol consumption [l] | 0.2 | 2.4 | ... | 0.01 |
|Human Develpment Index (HDI) | 0.1 | 0.15 | ... | 0.1 | 
|... | ... | ... | ... | ... |
|Healthcare Expenditure [$] | 13.322 | 15.211 | ... | 1.039 |

Thus, I have to transpose each of the countries and record each of the years as seperate entry in the dataset. <br /> 

All the data is [publicly available](https://ourworldindata.org), and this source is trusted by many notorious companies such as Vox, The Ney York times and even the top universities of this world like MIT, Oxford, Stanford. <br /> 
Hence, I assume that this data is rather based on actual recording from the respective country. <br /> 
Even the United Nation published their records in this page and I bet that these folks do some amazing work, which we can trust. <br />


But now let's not waste too much with the explaination part and go straight into how I merged the datafiles to one huge on. <br />

In [1]:
import os 
import sys
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
datapath = os.path.join(os.path.join(os.getcwd(), 'data'), 'Health')
datapath

'C:\\Users\\Lenny\\Documents\\Studium_Robotics (M.Sc.)\\03_Semester 3 - Oslo ERASMUS\\01_Applied Data Analysis and Machine Learning\\Project 3'

In [4]:
dataFileNames = [f for f in os.listdir(datapath) if os.path.isfile(os.path.join(datapath, f))]
type4Cols = []
type7Cols = []
manualLists = []
max_countries = 0
countries_list = []

# the datasets mostly have the same size of 4 columns and same setup so let's get those first

for file in dataFileNames: 
    try:
        df = pd.read_csv(os.path.join(datapath, str(file) ) , encoding='latin-1')
    except: 
        print(file)
        manualLists.append(file)
    if df.shape[1] == 4: # one type of files (4 columns) 
        type4Cols.append(file) 
        countries = list(set(df["Entity"]))
        if len(countries) > max_countries: 
            max_countries = len(countries)
            countries_list = countries
    elif df.shape[1] == 7: 
        type7Cols.append(file) 
    else: # manual shit  to do then 
        manualLists.append(file)
print( max_countries, countries_list)

C:\Users\Lenny\AppData\Local\Programs\Python\Python36\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

262 ['Liechtenstein', 'South Africa', 'Somalia', 'Bosnia and Herzegovina', 'Bangladesh', 'Hong Kong', 'Swaziland', 'Arab World', 'Barbados', 'Dominica', 'Maldives', 'United States Virgin Islands', 'Venezuela', 'Lithuania', 'Hungary', 'France', 'Mozambique', 'Democratic Republic of Congo', 'British Virgin Islands', 'Belarus', 'Russia', 'High income', 'Peru', 'Guatemala', 'Caribbean small states', 'Ghana', 'Egypt', 'Kenya', 'Other small states', 'Serbia', 'Canada', 'Guinea', 'Central African Republic', 'Algeria', 'Italy', 'Lesotho', 'North America', 'Colombia', 'Gibraltar', 'Haiti', 'Ireland', 'Papua New Guinea', 'Rwanda', 'European Union', 'Morocco', 'Togo', 'Montenegro', 'Gambia', 'Netherlands', 'Solomon Islands', 'Nauru', 'Jordan', 'Low & middle income', 'Moldova', 'South Korea', 'Libya', 'American Samoa', 'Costa Rica', 'Luxembourg', 'Isle of Man', 'Congo', 'Tajikistan', 'Burundi', 'Cape Verde', 'IBRD only', 'Indonesia', 'Portugal', 'Saudi Arabia', 'Vietnam', 'Channel Islands', 'North Korea', 'Qatar', 'Kyrgyzstan', 'Azerbaijan', 'South Asia', 'Sub-Saharan Africa (IDA & IBRD)', 'Pakistan', 'Belize', 'East Asia & Pacific (IDA & IBRD)', 'Tonga', 'Latvia', 'Guam', 'Syrian Arab Republic', 'Thailand', 'Vanuatu', 'Palau', 'Austria', 'Ethiopia', 'Norway', 'Chile', 'Guinea-Bissau', 'Botswana', 'IDA blend', 'Mongolia', 'Pacific island small states', 'United States', 'Uruguay', 'Dominican Republic', 'IDA & IBRD total', 'Middle income', 'Heavily indebted poor countries (HIPC)', 'Liberia', 'Philippines', 'Ukraine', 'Kuwait', 'Finland', 'IDA only', 'Iran', 'Tuvalu', 'Romania', 'Chad', 'Zambia', 'Czech Republic', 'Sub-Saharan Africa', 'Late-demographic dividend', 'Lebanon', 'Seychelles', 'Turkey', 'Early-demographic dividend', 'Faeroe Islands', 'Palestine', 'Switzerland', 'Madagascar', 'Mali', 'Albania', 'Middle East & North Africa (excluding high income)', 'Germany', 'Yemen', 'Comoros', 'Europe & Central Asia (excluding high income)', 'Malawi', 'Timor', 'China', 'Sierra Leone', 'Brunei', 'Croatia', 'Greenland', 'Mexico', 'Guyana', 'Bhutan', 'Turks and Caicos Islands', 'United Kingdom', 'Slovakia', 'Afghanistan', 'Argentina', 'Laos', 'Macedonia', 'Georgia', 'Cuba', 'Macao', 'Suriname', 'Mauritius', 'Saint Lucia', 'Sao Tome and Principe', 'Small states', 'Europe & Central Asia (IDA & IBRD)', 'Lower middle income', 'San Marino', 'Iraq', 'Cambodia', 'Niger', 'Tunisia', 'Fiji', 'Malta', 'Low income', 'Monaco', 'Japan', 'Israel', 'Sri Lanka', 'Sint Maarten (Dutch part)', 'Tanzania', 'Sub-Saharan Africa (excluding high income)', 'Cameroon', 'Northern Mariana Islands', 'Panama', 'South Asia (IDA & IBRD)', 'Middle East & North Africa', 'Oman', 'Equatorial Guinea', 'Gabon', "Cote d'Ivoire", 'Bahrain', 'El Salvador', 'Estonia', 'India', 'Iceland', 'Senegal', 'New Caledonia', 'Turkmenistan', 'Least developed countries: UN classification', 'World', 'Uzbekistan', 'Australia', 'Samoa', 'Ecuador', 'Saint Kitts and Nevis', 'Armenia', 'Curacao', 'Paraguay', 'Singapore', 'Fragile and conflict affected situations', 'Kosovo', 'Angola', 'Pre-demographic dividend', 'Burkina Faso', 'Honduras', 'Kazakhstan', 'Spain', 'Nepal', 'New Zealand', 'Kiribati', 'Cyprus', 'Nicaragua', 'Cayman Islands', 'Poland', 'Sweden', 'Uganda', 'Nigeria', 'Latin America & Caribbean', 'Brazil', 'East Asia & Pacific', 'Grenada', 'Latin America & Caribbean (excluding high income)', 'East Asia & Pacific (excluding high income)', 'Sudan', 'Saint Vincent and the Grenadines', 'Denmark', 'Bermuda', 'Malaysia', 'Middle East & North Africa (IDA & IBRD)', 'Djibouti', 'Saint Martin (French part)', 'OECD members', 'IDA total', 'Bolivia', 'French Polynesia', 'Aruba', 'Zimbabwe', 'Belgium', 'Mauritania', 'Slovenia', 'Upper middle income', 'Marshall Islands', 'Euro area', 'Trinidad and Tobago', 'Andorra', 'Micronesia (country)', 'Puerto Rico', 'Antigua and Barbuda', 'Central Europe and the Baltics', 'Post-demographic dividend', 'United Arab Emirates', 'Europe & Central Asia', 'Myanmar', 'Benin', 'Bulgaria', 'Latin America & Caribbean (IDA & IBRD)', 'Jamaica', 'Greece', 'Eritrea', 'Bahamas', 'Namibia']

In [5]:
df.head(10)

        Entity Code  Year  Wine Consumption [l]
0  Afghanistan  AFG  1961                   0.0
1  Afghanistan  AFG  1962                   0.0
2  Afghanistan  AFG  1963                   0.0
3  Afghanistan  AFG  1964                   0.0
4  Afghanistan  AFG  1965                   0.0
5  Afghanistan  AFG  1966                   0.0
6  Afghanistan  AFG  1967                   0.0
7  Afghanistan  AFG  1968                   0.0
8  Afghanistan  AFG  1969                   0.0
9  Afghanistan  AFG  1970                   0.0

In [6]:
# create dataframe where we want to paste everything inside
final_df = pd.DataFrame(data = np.zeros( (10000000, max_countries) ),
                        index = np.arange(10000000),
                        columns = [ country for country in countries_list])
# save indices as strings to get meaningful names
final_df.index = final_df.index.map(str)
final_df.shape

(10000000, 262)

In [13]:
# testing to get values of the specific entries and Co
columns = list(df.columns)
b = df[df['Entity'] == 'France']
c = b[b['Year'] == 1999]#[columns[-1]]
d = b[b['Year'] == 1999][columns[-1]].sum()
print(d)
c
#df.groupby(["Entity", 'Year']).describe()

7.8

      Entity Code  Year  Wine Consumption [l]
2840  France  FRA  1999                   7.8

In [36]:
%%time
# paste the values into the final_df from each single list
nextListIndex = 0

try: 
    for lists in type4Cols:
        ## Read the file and get the all countries along with their reported years
        print("{} list out of {}, Index: {}, Name: {}".format(type4Cols.index(lists), len(type4Cols), nextListIndex, lists))
        df = pd.read_csv(os.path.join(datapath, str(lists) ) , encoding='latin-1')
        
        # get the col names, unique countries and unique years
        columns = list(df.columns)
        countries = list(set(df["Entity"]))
        years = list(set(df['Year']))
        
        # get a list of all the index/row names
        indexNamesArr = final_df.index.values

        ## groupby countries and then years accordingly
        #df.groupby(["Entity", 'Year'])
        
        ## BREAK TO CHECK THE CORRECT VALUES AFTER 3 LISTS
        if type4Cols.index(lists) == 3: 
            break

        firstListRun = False # flag for renaming the indices

        # loop thru every country in the list
        for country in countries:
            # take a dataframe for one country at a time
            country_df = df[df['Entity'] == country]

            # loop thru every year within that country - assuming the years are in the same order for every country
            for year in years:
                
                # rename the indices only if it is the very first run for the country
                if not firstListRun:
                    indexName = str(columns[-1]) + ' in ' + str(year)
                    indexNamesArr[nextListIndex] = indexName
                    nextListIndex += 1
                    if nextListIndex % 20 == 0: 
                        print(indexName)

                ## get the proper value and fill empty ones, if not available, fill it with the average
                # note: .sum() is only having one element anyway, just done to get the value as a float not an array
                value = country_df[country_df["Year"] == year][columns[-1]].sum() if not country_df[country_df["Year"] == year][columns[-1]].empty else country_df[columns[-1]].mean()
                # get the name of the row
                idxName = str(columns[-1]) + ' in ' + str(year)
                # assign the value in the merged df with the value 
                final_df.iat[list(final_df.index.values).index(idxName), countries.index(country)] = value # .iat[row, col]

            ## get the proper index for the next list to begin with   
            firstListRun = True
            # print progress
            if countries.index(country) % 15 == 0:
                print("{} country out of {}".format(countries.index(country), len(countries)))
            
except Exception as e: 
    print("Next List Index in line: {} of {}, Matrix Size: {}, list: {}".format(i, nextListIndex, final_df.shape[0], lists))
    print(e)
    sys.exit()

0 list out of 60, Index: 0, Name: agricultural-area-per-capita.csv
Agriculutral are per capita [h/person] in 1980
Agriculutral are per capita [h/person] in 2000
0 country out of 187
1 country out of 187
2 country out of 187
3 country out of 187
4 country out of 187
5 country out of 187
6 country out of 187
7 country out of 187
8 country out of 187
9 country out of 187
10 country out of 187
11 country out of 187
12 country out of 187
13 country out of 187
14 country out of 187
15 country out of 187
16 country out of 187
17 country out of 187
18 country out of 187
19 country out of 187
20 country out of 187
21 country out of 187
22 country out of 187
23 country out of 187
24 country out of 187
25 country out of 187
26 country out of 187
27 country out of 187
28 country out of 187
29 country out of 187
30 country out of 187
31 country out of 187
32 country out of 187
33 country out of 187
34 country out of 187
35 country out of 187
36 country out of 187
37 country out of 187
38 country out of 187
39 country out of 187
40 country out of 187
41 country out of 187
42 country out of 187
43 country out of 187
44 country out of 187
45 country out of 187
46 country out of 187
47 country out of 187
48 country out of 187
49 country out of 187
50 country out of 187
51 country out of 187
52 country out of 187
53 country out of 187
54 country out of 187
55 country out of 187
56 country out of 187
57 country out of 187
58 country out of 187
59 country out of 187
60 country out of 187
61 country out of 187
62 country out of 187
63 country out of 187
64 country out of 187
65 country out of 187
66 country out of 187
67 country out of 187
68 country out of 187
69 country out of 187
70 country out of 187
71 country out of 187
72 country out of 187
73 country out of 187
74 country out of 187
75 country out of 187
76 country out of 187
77 country out of 187
78 country out of 187
79 country out of 187
80 country out of 187
81 country out of 187
82 country out of 187
83 country out of 187
84 country out of 187
85 country out of 187
86 country out of 187
87 country out of 187
88 country out of 187
89 country out of 187
90 country out of 187
91 country out of 187
92 country out of 187
93 country out of 187
94 country out of 187
95 country out of 187
96 country out of 187
97 country out of 187
98 country out of 187
99 country out of 187
100 country out of 187
101 country out of 187
102 country out of 187
103 country out of 187
104 country out of 187
105 country out of 187
106 country out of 187
107 country out of 187
108 country out of 187
109 country out of 187
110 country out of 187
111 country out of 187
112 country out of 187
113 country out of 187
114 country out of 187
115 country out of 187
116 country out of 187
117 country out of 187
118 country out of 187
119 country out of 187
120 country out of 187
121 country out of 187
122 country out of 187
123 country out of 187
124 country out of 187
125 country out of 187
126 country out of 187
127 country out of 187
128 country out of 187
129 country out of 187
130 country out of 187
131 country out of 187
132 country out of 187
133 country out of 187
134 country out of 187
135 country out of 187
136 country out of 187
137 country out of 187
138 country out of 187
139 country out of 187
140 country out of 187
141 country out of 187
142 country out of 187
143 country out of 187
144 country out of 187
145 country out of 187
146 country out of 187
147 country out of 187
148 country out of 187
149 country out of 187
150 country out of 187
151 country out of 187
152 country out of 187
153 country out of 187
154 country out of 187
155 country out of 187
156 country out of 187
157 country out of 187
158 country out of 187
159 country out of 187
160 country out of 187
161 country out of 187
162 country out of 187
163 country out of 187
164 country out of 187
165 country out of 187
166 country out of 187
167 country out of 187
168 country out of 187
169 country out of 187
170 country out of 187
171 country out of 187
172 country out of 187
173 country out of 187
174 country out of 187
175 country out of 187
176 country out of 187
177 country out of 187
178 country out of 187
179 country out of 187
180 country out of 187
181 country out of 187
182 country out of 187
183 country out of 187
184 country out of 187
185 country out of 187
186 country out of 187
1 list out of 60, Index: 53, Name: alcohol-attributable-fraction-of-mortality.csv
0 country out of 190
1 country out of 190
2 country out of 190
3 country out of 190
4 country out of 190
5 country out of 190
6 country out of 190
7 country out of 190
8 country out of 190
9 country out of 190
10 country out of 190
11 country out of 190
12 country out of 190
13 country out of 190
14 country out of 190
15 country out of 190
16 country out of 190
17 country out of 190
18 country out of 190
19 country out of 190
20 country out of 190
21 country out of 190
22 country out of 190
23 country out of 190
24 country out of 190
25 country out of 190
26 country out of 190
27 country out of 190
28 country out of 190
29 country out of 190
30 country out of 190
31 country out of 190
32 country out of 190
33 country out of 190
34 country out of 190
35 country out of 190
36 country out of 190
37 country out of 190
38 country out of 190
39 country out of 190
40 country out of 190
41 country out of 190
42 country out of 190
43 country out of 190
44 country out of 190
45 country out of 190
46 country out of 190
47 country out of 190
48 country out of 190
49 country out of 190
50 country out of 190
51 country out of 190
52 country out of 190
53 country out of 190
54 country out of 190
55 country out of 190
56 country out of 190
57 country out of 190
58 country out of 190
59 country out of 190
60 country out of 190
61 country out of 190
62 country out of 190
63 country out of 190
64 country out of 190
65 country out of 190
66 country out of 190
67 country out of 190
68 country out of 190
69 country out of 190
70 country out of 190
71 country out of 190
72 country out of 190
73 country out of 190
74 country out of 190
75 country out of 190
76 country out of 190
77 country out of 190
78 country out of 190
79 country out of 190
80 country out of 190
81 country out of 190
82 country out of 190
83 country out of 190
84 country out of 190
85 country out of 190
86 country out of 190
87 country out of 190
88 country out of 190
89 country out of 190
90 country out of 190
91 country out of 190
92 country out of 190
93 country out of 190
94 country out of 190
95 country out of 190
96 country out of 190
97 country out of 190
98 country out of 190
99 country out of 190
100 country out of 190
101 country out of 190
102 country out of 190
103 country out of 190
104 country out of 190
105 country out of 190
106 country out of 190
107 country out of 190
108 country out of 190
109 country out of 190
110 country out of 190
111 country out of 190
112 country out of 190
113 country out of 190
114 country out of 190
115 country out of 190
116 country out of 190
117 country out of 190
118 country out of 190
119 country out of 190
120 country out of 190
121 country out of 190
122 country out of 190
123 country out of 190
124 country out of 190
125 country out of 190
126 country out of 190
127 country out of 190
128 country out of 190
129 country out of 190
130 country out of 190
131 country out of 190
132 country out of 190
133 country out of 190
134 country out of 190
135 country out of 190
136 country out of 190
137 country out of 190
138 country out of 190
139 country out of 190
140 country out of 190
141 country out of 190
142 country out of 190
143 country out of 190
144 country out of 190
145 country out of 190
146 country out of 190
147 country out of 190
148 country out of 190
149 country out of 190
150 country out of 190
151 country out of 190
152 country out of 190
153 country out of 190
154 country out of 190
155 country out of 190
156 country out of 190
157 country out of 190
158 country out of 190
159 country out of 190
160 country out of 190
161 country out of 190
162 country out of 190
163 country out of 190
164 country out of 190
165 country out of 190
166 country out of 190
167 country out of 190
168 country out of 190
169 country out of 190

170 country out of 190
171 country out of 190
172 country out of 190
173 country out of 190
174 country out of 190
175 country out of 190
176 country out of 190
177 country out of 190
178 country out of 190
179 country out of 190
180 country out of 190
181 country out of 190
182 country out of 190
183 country out of 190
184 country out of 190
185 country out of 190
186 country out of 190
187 country out of 190
188 country out of 190
189 country out of 190
2 list out of 60, Index: 54, Name: annual-healthcare-expenditure-per-capita.csv
annual healthcare spending [$] in 2000
0 country out of 236
1 country out of 236
2 country out of 236
3 country out of 236
4 country out of 236
5 country out of 236
6 country out of 236
7 country out of 236
8 country out of 236
9 country out of 236
10 country out of 236
11 country out of 236
12 country out of 236
13 country out of 236
14 country out of 236
15 country out of 236
16 country out of 236
17 country out of 236
18 country out of 236
19 country out of 236
20 country out of 236
21 country out of 236
22 country out of 236
23 country out of 236
24 country out of 236
25 country out of 236
26 country out of 236
27 country out of 236
28 country out of 236
29 country out of 236
30 country out of 236
31 country out of 236
32 country out of 236
33 country out of 236
34 country out of 236
35 country out of 236
36 country out of 236
37 country out of 236
38 country out of 236
39 country out of 236
40 country out of 236
41 country out of 236
42 country out of 236
43 country out of 236
44 country out of 236
45 country out of 236
46 country out of 236
47 country out of 236
48 country out of 236
49 country out of 236
50 country out of 236
51 country out of 236
52 country out of 236
53 country out of 236
54 country out of 236
55 country out of 236
56 country out of 236
57 country out of 236
58 country out of 236
59 country out of 236
60 country out of 236
61 country out of 236
62 country out of 236
63 country out of 236
64 country out of 236
65 country out of 236
66 country out of 236
67 country out of 236
68 country out of 236
69 country out of 236
70 country out of 236
71 country out of 236
72 country out of 236
73 country out of 236
74 country out of 236
75 country out of 236
76 country out of 236
77 country out of 236
78 country out of 236
79 country out of 236
80 country out of 236
81 country out of 236
82 country out of 236
83 country out of 236
84 country out of 236
85 country out of 236
86 country out of 236
87 country out of 236
88 country out of 236
89 country out of 236
90 country out of 236
91 country out of 236
92 country out of 236
93 country out of 236
94 country out of 236
95 country out of 236
96 country out of 236
97 country out of 236
98 country out of 236
99 country out of 236
100 country out of 236
101 country out of 236
102 country out of 236
103 country out of 236
104 country out of 236
105 country out of 236
106 country out of 236
107 country out of 236
108 country out of 236
109 country out of 236
110 country out of 236
111 country out of 236
112 country out of 236
113 country out of 236
114 country out of 236
115 country out of 236
116 country out of 236
117 country out of 236
118 country out of 236
119 country out of 236
120 country out of 236
121 country out of 236
122 country out of 236
123 country out of 236
124 country out of 236
125 country out of 236
126 country out of 236
127 country out of 236
128 country out of 236
129 country out of 236
130 country out of 236
131 country out of 236
132 country out of 236
133 country out of 236
134 country out of 236
135 country out of 236
136 country out of 236
137 country out of 236
138 country out of 236
139 country out of 236
140 country out of 236
141 country out of 236
142 country out of 236
143 country out of 236
144 country out of 236
145 country out of 236
146 country out of 236
147 country out of 236
148 country out of 236
149 country out of 236
150 country out of 236
151 country out of 236
152 country out of 236
153 country out of 236
154 country out of 236
155 country out of 236
156 country out of 236
157 country out of 236
158 country out of 236
159 country out of 236
160 country out of 236
161 country out of 236
162 country out of 236
163 country out of 236
164 country out of 236
165 country out of 236
166 country out of 236
167 country out of 236
168 country out of 236
169 country out of 236
170 country out of 236
171 country out of 236
172 country out of 236
173 country out of 236
174 country out of 236
175 country out of 236
176 country out of 236
177 country out of 236
178 country out of 236
179 country out of 236
180 country out of 236
181 country out of 236
182 country out of 236
183 country out of 236
184 country out of 236
185 country out of 236
186 country out of 236
187 country out of 236
188 country out of 236
189 country out of 236
190 country out of 236
191 country out of 236
192 country out of 236
193 country out of 236
194 country out of 236
195 country out of 236
196 country out of 236
197 country out of 236
198 country out of 236
199 country out of 236
200 country out of 236
201 country out of 236
202 country out of 236
203 country out of 236
204 country out of 236
205 country out of 236
206 country out of 236
207 country out of 236
208 country out of 236
209 country out of 236
210 country out of 236
211 country out of 236
212 country out of 236
213 country out of 236
214 country out of 236
215 country out of 236
216 country out of 236
217 country out of 236
218 country out of 236
219 country out of 236
220 country out of 236
221 country out of 236
222 country out of 236
223 country out of 236
224 country out of 236
225 country out of 236
226 country out of 236
227 country out of 236
228 country out of 236
229 country out of 236
230 country out of 236
231 country out of 236
232 country out of 236
233 country out of 236
234 country out of 236
235 country out of 236
3 list out of 60, Index: 74, Name: average-height-of-men-for-selected-countries.csv

In [38]:
final_df[50:60]

,Liechtenstein,South Africa,Somalia,Bosnia and Herzegovina,Bangladesh,Hong Kong,Swaziland,Arab World,Barbados,Dominica,...,Europe & Central Asia,Myanmar,Benin,Bulgaria,Latin America & Caribbean (IDA & IBRD),Jamaica,Greece,Eritrea,Bahamas,Namibia
Agriculutral are per capita [h/person] in 2011,1.855166,0.560302,0.059714,0.000775,1.008251,0.049645,0.352113,0.023795,0.732179,0.921781,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Agriculutral are per capita [h/person] in 2012,1.848605,0.562337,0.058955,0.000713,0.992689,0.049470,0.347222,0.023373,0.721082,0.938639,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Agriculutral are per capita [h/person] in 2013,1.834944,0.563594,0.058163,0.000708,0.977600,0.049123,0.347222,0.022899,0.710409,0.958369,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Alcohol-attributable deaths [%] in 2012,6.400000,0.300000,4.100000,0.600000,3.300000,3.300000,3.700000,1.900000,10.800000,30.900000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
annual healthcare spending [$] in 1995,554.926813,112.553535,33.847622,182.376821,291.042096,475.105476,304.923564,154.965483,605.996771,332.148748,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
annual healthcare spending [$] in 1996,591.541768,229.659488,32.440083,205.592236,302.563796,477.025876,320.671077,178.045521,525.840775,371.166402,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
annual healthcare spending [$] in 1997,615.471244,263.671216,25.629278,199.691359,324.799812,518.453110,339.728887,196.756772,478.693863,418.439612,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
annual healthcare spending [$] in 1998,608.318584,308.200467,26.706320,218.069979,356.426797,519.199357,347.710987,252.683377,521.095548,485.071953,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
annual healthcare spending [$] in 1999,624.670572,364.137124,28.324157,216.533987,373.424780,553.604329,359.752491,264.876561,540.245674,495.522360,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
annual healthcare spending [$] in 2000,622.172258,314.572710,30.351706,218.972352,382.665594,593.852786,299.928136,301.929014,560.703139,558.238536,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
indexNames = final_df.index.values
idxName = 'Alcohol-attributable deaths [%] in 2012'
index = list(final_df.index.values).index(idxName)
#indexNames[50:65]
index

53

In [ ]:
final_df.loc[ 'b' : 'd'] #index it properly

In [ ]:
final_df.to_csv(os.path.join(datapath, "Merged UN Data.csv"))

BELOW HERE IS JUST THE PLAYGROUND TO TRY SOME STUFF OUT -> The dataset should be done in the top part

In [ ]:
df.groupby('Entity')['Wine Consumption'].sum().sort_values().tail(5)

In [ ]:
df[df['Entity'] == 'Germany']['Wine Consumption'].plot.hist(bins=20)