## DATASET CREATION

Unfortunately, the dataset I will work with does not come as one already done dataset - as it is mostly usual in Data Science projects. <br /> 
To get the sheer experience of how a normal Data Science job looks like I also wanted to dive into this issue. By experience I can tell that this takes a shit ton of time - like almost 80% - of preparing the data. <br /> 
Since the data usually shares the same countries and lists mostly the same years of the recording I used this as a primary key where I connect the datapoints with each other. <br /> 
However, the  countries are listed in rows along with the year of the recording - I want to have a final dataset that looks like follows: <br /> 

|Country | Afghanistan | Albania | ... | Zimbabwe | 
| ----- | ----------  | ------ | ----- | ------- | 
|Alcohol consumption [l] | 0.2 | 2.4 | ... | 0.01 |
|Human Develpment Index (HDI) | 0.1 | 0.15 | ... | 0.1 | 
|... | ... | ... | ... | ... |
|Healthcare Expenditure [$] | 13.322 | 15.211 | ... | 1.039 |

Thus, I have to transpose each of the countries and record each of the years as seperate entry in the dataset. <br /> 

All the data is [publicly available](https://ourworldindata.org), and this source is trusted by many notorious companies such as Vox, The Ney York times and even the top universities of this world like MIT, Oxford, Stanford. <br /> 
Hence, I assume that this data is rather based on actual recording from the respective country. <br /> 
Even the United Nation published their records in this page and I bet that these folks do some amazing work, which we can trust. <br />


But now let's not waste too much with the explaination part and go straight into how I merged the datafiles to one huge on. <br />

In [1]:
import os 
import sys
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
datapath = os.path.join(os.path.join(os.getcwd(), 'data'), 'Health')
datapath

'C:\\Users\\Lenny\\Documents\\Studium_Robotics (M.Sc.)\\03_Semester 3 - Oslo ERASMUS\\01_Applied Data Analysis and Machine Learning\\Project 3'

In [4]:
dataFileNames = [f for f in os.listdir(datapath) if os.path.isfile(os.path.join(datapath, f))]
type4Cols = []
type7Cols = []
manualLists = []
max_countries = 0
countries_list = []

# the datasets mostly have the same size of 4 columns and same setup so let's get those first

for file in dataFileNames: 
    try:
        df = pd.read_csv(os.path.join(datapath, str(file) ) , encoding='latin-1')
    except: 
        print(file)
        manualLists.append(file)
    if df.shape[1] == 4: # one type of files (4 columns) 
        type4Cols.append(file) 
        countries = list(set(df["Entity"]))
        if len(countries) > max_countries: 
            max_countries = len(countries)
            countries_list = countries
    elif df.shape[1] == 7: 
        type7Cols.append(file) 
    else: # manual shit  to do then 
        manualLists.append(file)
print( max_countries, countries_list)

C:\Users\Lenny\AppData\Local\Programs\Python\Python36\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

262 ['Liechtenstein', 'South Africa', 'Somalia', 'Bosnia and Herzegovina', 'Bangladesh', 'Hong Kong', 'Swaziland', 'Arab World', 'Barbados', 'Dominica', 'Maldives', 'United States Virgin Islands', 'Venezuela', 'Lithuania', 'Hungary', 'France', 'Mozambique', 'Democratic Republic of Congo', 'British Virgin Islands', 'Belarus', 'Russia', 'High income', 'Peru', 'Guatemala', 'Caribbean small states', 'Ghana', 'Egypt', 'Kenya', 'Other small states', 'Serbia', 'Canada', 'Guinea', 'Central African Republic', 'Algeria', 'Italy', 'Lesotho', 'North America', 'Colombia', 'Gibraltar', 'Haiti', 'Ireland', 'Papua New Guinea', 'Rwanda', 'European Union', 'Morocco', 'Togo', 'Montenegro', 'Gambia', 'Netherlands', 'Solomon Islands', 'Nauru', 'Jordan', 'Low & middle income', 'Moldova', 'South Korea', 'Libya', 'American Samoa', 'Costa Rica', 'Luxembourg', 'Isle of Man', 'Congo', 'Tajikistan', 'Burundi', 'Cape Verde', 'IBRD only', 'Indonesia', 'Portugal', 'Saudi Arabia', 'Vietnam', 'Channel Islands', 'North Korea', 'Qatar', 'Kyrgyzstan', 'Azerbaijan', 'South Asia', 'Sub-Saharan Africa (IDA & IBRD)', 'Pakistan', 'Belize', 'East Asia & Pacific (IDA & IBRD)', 'Tonga', 'Latvia', 'Guam', 'Syrian Arab Republic', 'Thailand', 'Vanuatu', 'Palau', 'Austria', 'Ethiopia', 'Norway', 'Chile', 'Guinea-Bissau', 'Botswana', 'IDA blend', 'Mongolia', 'Pacific island small states', 'United States', 'Uruguay', 'Dominican Republic', 'IDA & IBRD total', 'Middle income', 'Heavily indebted poor countries (HIPC)', 'Liberia', 'Philippines', 'Ukraine', 'Kuwait', 'Finland', 'IDA only', 'Iran', 'Tuvalu', 'Romania', 'Chad', 'Zambia', 'Czech Republic', 'Sub-Saharan Africa', 'Late-demographic dividend', 'Lebanon', 'Seychelles', 'Turkey', 'Early-demographic dividend', 'Faeroe Islands', 'Palestine', 'Switzerland', 'Madagascar', 'Mali', 'Albania', 'Middle East & North Africa (excluding high income)', 'Germany', 'Yemen', 'Comoros', 'Europe & Central Asia (excluding high income)', 'Malawi', 'Timor', 'China', 'Sierra Leone', 'Brunei', 'Croatia', 'Greenland', 'Mexico', 'Guyana', 'Bhutan', 'Turks and Caicos Islands', 'United Kingdom', 'Slovakia', 'Afghanistan', 'Argentina', 'Laos', 'Macedonia', 'Georgia', 'Cuba', 'Macao', 'Suriname', 'Mauritius', 'Saint Lucia', 'Sao Tome and Principe', 'Small states', 'Europe & Central Asia (IDA & IBRD)', 'Lower middle income', 'San Marino', 'Iraq', 'Cambodia', 'Niger', 'Tunisia', 'Fiji', 'Malta', 'Low income', 'Monaco', 'Japan', 'Israel', 'Sri Lanka', 'Sint Maarten (Dutch part)', 'Tanzania', 'Sub-Saharan Africa (excluding high income)', 'Cameroon', 'Northern Mariana Islands', 'Panama', 'South Asia (IDA & IBRD)', 'Middle East & North Africa', 'Oman', 'Equatorial Guinea', 'Gabon', "Cote d'Ivoire", 'Bahrain', 'El Salvador', 'Estonia', 'India', 'Iceland', 'Senegal', 'New Caledonia', 'Turkmenistan', 'Least developed countries: UN classification', 'World', 'Uzbekistan', 'Australia', 'Samoa', 'Ecuador', 'Saint Kitts and Nevis', 'Armenia', 'Curacao', 'Paraguay', 'Singapore', 'Fragile and conflict affected situations', 'Kosovo', 'Angola', 'Pre-demographic dividend', 'Burkina Faso', 'Honduras', 'Kazakhstan', 'Spain', 'Nepal', 'New Zealand', 'Kiribati', 'Cyprus', 'Nicaragua', 'Cayman Islands', 'Poland', 'Sweden', 'Uganda', 'Nigeria', 'Latin America & Caribbean', 'Brazil', 'East Asia & Pacific', 'Grenada', 'Latin America & Caribbean (excluding high income)', 'East Asia & Pacific (excluding high income)', 'Sudan', 'Saint Vincent and the Grenadines', 'Denmark', 'Bermuda', 'Malaysia', 'Middle East & North Africa (IDA & IBRD)', 'Djibouti', 'Saint Martin (French part)', 'OECD members', 'IDA total', 'Bolivia', 'French Polynesia', 'Aruba', 'Zimbabwe', 'Belgium', 'Mauritania', 'Slovenia', 'Upper middle income', 'Marshall Islands', 'Euro area', 'Trinidad and Tobago', 'Andorra', 'Micronesia (country)', 'Puerto Rico', 'Antigua and Barbuda', 'Central Europe and the Baltics', 'Post-demographic dividend', 'United Arab Emirates', 'Europe & Central Asia', 'Myanmar', 'Benin', 'Bulgaria', 'Latin America & Caribbean (IDA & IBRD)', 'Jamaica', 'Greece', 'Eritrea', 'Bahamas', 'Namibia']

In [5]:
df.head(10)

        Entity Code  Year  Wine Consumption [l]
0  Afghanistan  AFG  1961                   0.0
1  Afghanistan  AFG  1962                   0.0
2  Afghanistan  AFG  1963                   0.0
3  Afghanistan  AFG  1964                   0.0
4  Afghanistan  AFG  1965                   0.0
5  Afghanistan  AFG  1966                   0.0
6  Afghanistan  AFG  1967                   0.0
7  Afghanistan  AFG  1968                   0.0
8  Afghanistan  AFG  1969                   0.0
9  Afghanistan  AFG  1970                   0.0

In [6]:
# create dataframe where we want to paste everything inside
final_df = pd.DataFrame(data = np.zeros( (10000000, max_countries) ),
                        index = np.arange(10000000),
                        columns = [ country for country in countries_list])
# save indices as strings to get meaningful names
final_df.index = final_df.index.map(str)
final_df.shape

(10000000, 262)

In [13]:
# testing to get values of the specific entries and Co
columns = list(df.columns)
b = df[df['Entity'] == 'France']
c = b[b['Year'] == 1999]#[columns[-1]]
d = b[b['Year'] == 1999][columns[-1]].sum()
print(d)
c
#df.groupby(["Entity", 'Year']).describe()

7.8

      Entity Code  Year  Wine Consumption [l]
2840  France  FRA  1999                   7.8

In [ ]:
# paste the values into the final_df from each single list
nextListIndex = 0

try: 
    for lists in type4Cols:
        ## Read the file and get the all countries along with their reported years
        print("{} list out of {}, Index: {}, Name: {}".format(type4Cols.index(lists), len(type4Cols), nextListIndex, lists))
        df = pd.read_csv(os.path.join(datapath, str(lists) ) , encoding='latin-1')
        
        # get the col names, unique countries and unique years
        columns = list(df.columns)
        countries = list(set(df["Entity"]))
        years = list(set(df['Year']))
        
        # get a list of all the index/row names
        indexNamesArr = final_df.index.values

        ## groupby countries and then years accordingly
        #df.groupby(["Entity", 'Year'])
        
        ## BREAK TO CHECK THE CORRECT VALUES AFTER 3 LISTS
        if type4Cols.index(lists) == 3: 
            break

        firstListRun = False # flag for renaming the indices

        # loop thru every country in the list
        for country in countries:
            # take a dataframe for one country at a time
            country_df = df[df['Entity'] == country]
            
            # start at 0 for each country in the same list
            #i = 0

            # loop thru every year within that country - assuming the years are in the same order for every country
            for year in years:
                
                # rename the indices only if it is the very first run for the country
                if not firstListRun:
                    indexName = str(columns[-1]) + ' in ' + str(year)
                    indexNamesArr[nextListIndex] = indexName
                    nextListIndex += 1
                    if nextListIndex % 20 == 0: 
                        print(indexName)

                ## get the proper value and fill empty ones, if not available, fill it with the average
                # note: .sum() is only having one element anyway, just done to get the value as a float not an array
                value = country_df[country_df["Year"] == year][columns[-1]].sum() if not country_df[country_df["Year"] == year][columns[-1]].empty else country_df[columns[-1]].mean()
                # get the name of the row
                idxName = str(columns[-1]) + ' in ' + str(year)
                # assign the value in the merged df with the value 
                final_df.iat[list(final_df.index.values).index(idxName), countries.index(country)] = value # .iat[row, col]
                
                # increase the index value 
                #i = i + 1

            ## get the proper index for the next list to begin with   
            firstListRun = True
            # print progress
            if countries.index(country) % 15 == 0:
                print("{} country out of {}".format(countries.index(country), len(countries)))
            
except Exception as e: 
    print("Next List Index in line: {} of {}, Matrix Size: {}, list: {}".format(i, nextListIndex, final_df.shape[0], lists))
    print(e)
    sys.exit()

0 list out of 60, Index: 0, Name: agricultural-area-per-capita.csv
Agriculutral are per capita [h/person] in 1980
Agriculutral are per capita [h/person] in 2000
0 country out of 187
1 country out of 187
2 country out of 187
3 country out of 187
4 country out of 187
5 country out of 187
6 country out of 187
7 country out of 187
8 country out of 187
9 country out of 187
10 country out of 187

In [ ]:
final_df.head(15)

In [32]:
indexNames = final_df.index.values
idxName = 'Alcohol-attributable deaths [%] in 2012'
index = list(final_df.index.values).index(idxName)
#indexNames[50:65]
index

53

In [ ]:
final_df.loc[ 'b' : 'd'] #index it properly

In [ ]:
final_df.to_csv(os.path.join(datapath, "Merged UN Data.csv"))

BELOW HERE IS JUST THE PLAYGROUND TO TRY SOME STUFF OUT -> The dataset should be done in the top part

In [ ]:
df.groupby('Entity')['Wine Consumption'].sum().sort_values().tail(5)

In [ ]:
df[df['Entity'] == 'Germany']['Wine Consumption'].plot.hist(bins=20)